.hold {background-color: red;}

body {padding: 20px;}

span {font: 6em "Open Sans", sans-serif;}

#letter {
    text-align: center;
    vertical-align: middle;
    line-height: 80px;
    vertical-align: middle;
    border: 2px solid black;
    font: 4em "Open Sans", sans-serif;
    width: 160px;
    height: 80px;
    border-radius: 10px;
    position: absolute;
    bottom: 20px;
    left:0;
    right: 0;
    margin: 0 auto;
}
